*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

:root{
    --cor-texto-principal: #555;
    --imagem-fundo: url(imagens/imagem-fundo.jpg);
}

body{
    background-image: var(--imagem-fundo);
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto-principal);
    background-size: 50%;

}

.tema-pau-brasil{
    --cor-texto-principal: #c70e0ed1;
    --imagem-fundo: url(imagens/fundo-pau-brasil.jpg);
}

.tema-peroba-rosa{
    --cor-texto-principal: #d47a9ee1;
    --imagem-fundo: url(imagens/fundo-peroba-rosa.jpg);
}

.tema-castanheira{
    --cor-texto-principal: #bfcd04f5;
    --imagem-fundo: url(imagens/fundo-castanheira.jpg);
}

.arvore-item.active {
    transform: scale(1.05);
    font-weight: bold;
}
.arvore-item img {
    pointer-events: none;
}

#main-login{
    background-color: #fafafa;
    text-align: center;
    width: 40%;
    max-width: 900px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px;
}

#main-login img{
    width: 50%;
}

h1{
    margin: 30px;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-grupo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.arvore-selecao{
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    width: 300px;
    align-self: center;
}

input:focus {
    outline: none;
    border-color: #321816; 
    /*cuida do foco ao clicar nos inputs destacando eles*/
}

#btn-login{
    border-radius: 8px;
    margin: 30px;
    width: 200px;
    align-self: center;
    padding: 10px;
    font-size: 16px;
}

.arvore-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.arvore-item input[type="radio"]{
    opacity: 0;
    position: absolute;
}

.arvore-item input[value="tema-pau-brasil"]:checked + img{
    border: 3px solid #c70e0e9b;
    border-radius: 100px;
}

.arvore-item input[value="tema-peroba-rosa"]:checked + img{
    border: 3px solid #d47a9e;
    border-radius: 100px;
}

.arvore-item input[value="tema-castanheira"]:checked + img{
    border: 3px solid #bfcd04f5;
    border-radius: 100px;
}


