*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

:root{
    --cor-texto-principal: #555;
    --imagem-fundo: url(imagens/imagem-fundo.jpg);
}

body{
    background-image: var(--imagem-fundo);
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto-principal);
    background-size: 50%;

}

.tema-pau-brasil{
    --cor-texto-principal: #c70e0ed1;
    --imagem-fundo: url(imagens/fundo-pau-brasil.jpg);
}

.tema-peroba-rosa{
    --cor-texto-principal: #d47a9ee1;
    --imagem-fundo: url(imagens/fundo-peroba-rosa.jpg);
}

.tema-castanheira{
    --cor-texto-principal: #594126;
    --imagem-fundo: url(imagens/fundo-castanheira.jpg);
}

.arvore-item.active {
    transform: scale(1.05);
    font-weight: bold;
}
.arvore-item img {
    pointer-events: none;
}

#main-login{
    background-color: #fafafa;
    text-align: center;
    width: 40%;
    max-width: 900px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px;
}

#main-login img{
    width: 50%;
}

h1{
    margin: 20px;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-grupo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.arvore-selecao{
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
    cursor: pointer;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    width: 300px;
    align-self: center;
}

input:focus {
    outline: none;
    border-color: #321816; 
    /*cuida do foco ao clicar nos inputs destacando eles*/
}

.btn-padrao{
    border-radius: 8px;
    margin: 30px;
    width: 200px;
    align-self: center;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-padrao:hover{
    background-color: var(--cor-texto-principal);
    color: white;
}

.arvore-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.arvore-item input[type="radio"]{
    opacity: 0;
    position: absolute;
}

.arvore-item input[value="tema-pau-brasil"]:checked + img{
    border: 3px solid #c70e0e9b;
    border-radius: 100px;
}

.arvore-item input[value="tema-peroba-rosa"]:checked + img{
    border: 3px solid #d47a9e;
    border-radius: 100px;
}

.arvore-item input[value="tema-castanheira"]:checked + img{
    border: 3px solid #594126;
    border-radius: 100px;
}

/*Estilo especificos da pagina registro.html*/

#main-registro{
    background-color: #fafafa;
    text-align: center;
    width: 90%;
    max-width: 900px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px;
    flex-direction: column;
}

.form-arvore-registro{
    text-align: center;
    
}

.info-registro{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: center;
    padding: 20px;
}

h2{
    font-weight: bold;
    padding: 10px;
    margin: 0;
}


#div-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#div-registro, .arvore-item{ 
    padding: 10px;/*alinhar os tiulos, junto com o align-items: flex-start; do .info-registro*/
}

.arvores-registro{
    width: 200px;
    cursor: pointer;
    border: 1px solid var(--cor-texto-principal);
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
}

.icone {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.arvores-registro input[type="radio"]{
    opacity: 0;
    position: absolute;
}


.arvores-registro:has(input:checked) {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--cor-texto-principal);;
}